#divGloCard{
    width: 30vw;
    height: 60vh;
    box-sizing: border-box;
}
.divCardName>h3{
    margin: 0;
}
.divCardPrice>p{
    margin: 0;
}
.divCardStock>p{
    margin: 0;
}

#divCardInfos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35%;
    padding-left: 10px;
}
#divCardBtn{
    justify-self: center;
}
.divCardImg>img{
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.divCardImg{
    height: 55%;
    overflow: hidden;
}
.limite{
    border: rgba(255, 166, 0, 0.557) 2px solid;
    background-image: url("../../assets/img/tissu-coton-imprime-liberty-rose-et-jaune.jpg");
    opacity: 0.7;
    background-size: contain;

}
.limite:hover{
    opacity: 1;
    
}
.full{
    background-image: url("../../assets/img/tissu-coton-imprime-liberty-rose-et-jaune.jpg");
    background-size: contain;
    opacity: 0.7;
}
.full:hover{
    opacity: 1;
}
.out{
    background-size: contain;
    background-image: url("../../assets/img/tissu-coton-imprime-liberty-rose-et-jaune.jpg");
    color: white;
    opacity: 0.5;
}