#divGloCard{
    width: 30vw;
    height: 60vh;
    border: solid blue 3px;
    box-sizing: border-box;
}
.divCardName>h3{
    margin: 0;
}
.divCardPrice>p{
    margin: 0;
}
.divCardStock>p{
    margin: 0;
}

#divCardInfos{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35%;
    padding-left: 10px;
}
#divCardBtn{
    justify-self: center;
}
.divCardImg>img{
    width: 100%;
}
.divCardImg{
    height: 55%;
    overflow: hidden;
}